#project-top-pad.airy-padding-sides
  if canEdit
    a#edit-action.action.pull-right(href="#")
      span.icon-pencil3
  #project-heading
    h1#project-title
      = title
    p#project-creation-date Added #{creationDateString} by #{userFullName}
  #image-box
    #thumbnails
      each pictures
        a(href="#")
          .thumbnail-wrapper
            img(src="#{url}")
    #displayed-image
      img(src="#{mainPicture}")
#right-column
  #tag-pad.airy-padding-sides
    h2
      span.icon-tags2 &nbsp;Tags
    #project-tags
      = tagsString
  #license-pad.airy-padding-sides
    h2 License
    #license-icons
      a(href="#{license.url}" target="_blank")
        each license.icons
          span(class="icon-#{this}")
    p
      strong #{title}
      | is licensed under the
      a(href="#{license.url}" target="_blank") #{license.name}
      | license.

#project-bottom-pad
  ul.tabs(role="tablist")
    each projectTabs
      li(class="#{classes}")
        a(role="tab" href="##{title.toLowerCase}")
          if icon
            span(class="icon-#{icon}") &nbsp;
          = title
  #tab-contents
    if displayDescription
      #description
        +markdown
          #{description}
    if displayInstructions
      #instructions
        +markdown
          #{instructions}
    if displayFiles
      +projectFiles
