#user-pad
  .pure-g
    .pure-u-1-4
      #user-name #{profile.name}
      #user-username.muted #{username}
    .pure-u-3-4
      ul.tabs(role="tablist")
        each profileTabs
          li(class="#{classes}")
            a(role="tab" href="##{title.toLowerCase}")
              if icon
                span(class="icon-#{icon}") &nbsp;
              = title
      #tab-contents
        if displayProjects
          #projects
            if hasProjects
              ul
                each projects
                  .project
                    p TODO
            else
              em No projects.
        if displayPlanned
          #planned-projects
            #plan-buttons.button-group
              button#create-plan.pure-button New
              button#add-plan.pure-button Existing
            hr
            if hasPlannedProjects
              ul#planned-projects
                each plannedProjects
                  li
                    a.planned-project(href=url, target="_blank") #[span.icon-trello] #{name}
            else
              em No planned projects.
            hr
