#user-pad
  .pure-g
    .pure-u-1-4
      #user-name #{profile.name}
      #user-username.muted #{username}
    .pure-u-3-4
      ul.tabs(role="tablist")
        each profileTabs
          li(class="#{classes}")
            a(role="tab" href="##{title.toLowerCase}")
              if icon
                span(class="icon-#{icon}") &nbsp;
              = title
      #tab-contents
        if displayProjects
          div
            if hasProjects
              ul#user-projects
                each projects
                  li
                    a.user-project(href="/u/#{owner}/#{projectId}") #{projectId}
            else
              em No projects.
        if displayPlans
          div
            #plan-buttons.button-group
              button#create-plan.pure-button New
              button#add-existing-plan.pure-button Add Existing
            hr
            if hasProjectPlans
              ul#planned-projects
                each projectPlans
                  li
                    a.planned-project(href=url, target="_blank") #[span.icon-trello] #{name}
                    a.edit-project-plan(href="#")
                      span.icon-pencil3
                    a.remove-project-plan(href="#")
                      span.icon-bin
            else
              em No project plans.
