#user-pad
  .pure-g
    .pure-u-1-4
      #user-name #{profile.name}
      #user-username.muted #{username}
      hr
      #user-email
        a(href="mailto:#{email}" target="_blank") #{email}
    .pure-u-3-4
      ul.tabs(role="tablist")
        each profileTabs
          li(class="#{classes}")
            a(role="tab" href="##{title.toLowerCase}")
              if icon
                span(class="icon-#{icon}") &nbsp;
              = title
      #tab-contents
        if displayProjects
          div
            if hasProjects
              table#user-projects
                thead
                  tr
                    th ID
                    th Name
                    th Created
                tbody
                  each projects
                    tr
                      td
                        a.user-project(href="/u/#{owner}/#{projectId}") #{projectId}
                      td
                        a.user-project(href="/u/#{owner}/#{projectId}") #{title}
                      td
                        a.user-project(href="/u/#{owner}/#{projectId}") #{createdStr}
            else
              em No projects.
        if displayPlans
          div
            if isLoggedInUser
              #plan-buttons.button-group
                button#create-plan.pure-button(data-tooltip="Create project plan") New
                button#add-existing-plan.pure-button(data-tooltip="Add existing project plan") Add Existing
              hr
            if hasProjectPlans
              ul#planned-projects
                each projectPlans
                  li
                    a.planned-project(href=url, target="_blank") #[span.icon-trello] #{name}
                    if isLoggedInUser
                      a.edit-project-plan(href="#", data-tooltip="Edit project plan")
                        span.icon-pencil3
                      a.remove-project-plan(href="#", data-tooltip="Remove project plan")
                        span.icon-cross
                      a.close-project-plan(href="#", data-tooltip="Remove project plan and close Trello board")
                        span.icon-bin
            else
              em No project plans.
